* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: ##2e2f4266;
  --hero-background-color: #2e2f42b2;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

img {
  display: block;
}

.header-top {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.logo-header {
  gap: 40px;
}

.span {
  color: var(--dark-color);
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.list-header {
  display: flex;
  gap: 40px;
}

.list-address {
  display: flex;
  gap: 40px;
}
.list-options {
}

.page-description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding: 24px 0;
  display: flex;
  gap: 2.5em;
}

.page-description:hover {
  color: var(--pressed-state-color);
}

.page-description:focus {
  color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}

.contacts-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts-description:hover {
  color: var(--pressed-state-color);
}

.contacts-description:visited {
  color: var(--pressed-state-color);
}
.contacts-description:focus {
  color: var(--pressed-state-color);
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  cursor: pointer;
}

.filter-button:hover {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
}

.filter-button:focus {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.footer {
  background-color: var(--dark-color);
}
.logo-span {
  color: var(--light-color);
}
.main-one {
  background-color: var(--dark-color);
  padding: 188px 0;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  max-width: 496px;
}
.main-button {
  background-color: var(--primary-brand-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.main-button:hover {
  background-color: var(--pressed-state-color);
}
.main-button:focus {
  background-color: var(--pressed-state-color);
}
.goal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.what-doing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.paragraph-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
.our-team {
  background-color: var(--light-color);
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.our-team-card {
  background-color: var(--white-background-color);
}
.function {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-inline: auto;
  display: flex;
}

.section {
  padding: 7.5em; /*120px/16px=7,5em*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
